<h1>{{title}}</h1>
    
    
    
    <div>
        <h1> Price Data </h1>
        <h2 class="error" id="noData"> No Data Selected </h2>
        <h2> <button class="button" (click)="refreshData()" >refresh data</button></h2>
        <ul class="heroes">
            <li *ngFor="let data of priceBandA">
                region: {{data.region}}, item: {{data.itemname}}  
                <ul class="heroes">
                <li id="quad" *ngFor="let md of data.l2pricedata">
                    <p>sell: {{md.priceSell}}   
                    volume: {{md.volSell}} buy: {{md.priceBuy}} vol: {{md.volBuy}}
                    range: {{md.Buyrange}}
                    <!--volume: {{md.volSell}}
                    buy: {{md.priceBuy}}
                    volume: {{md.volBuy}}--></p>
                   
                </li> 
                
                </ul>
                <!--<canvas width="600" height="100" id= data.type.id_str>
                    
                </canvas>-->
            </li>
        </ul>
     </div>