<h1>{{title}}</h1>
    
    
    
    <div>
        <h1> Price Data </h1>
        <h3 class="error" id="noData"> No Data Selected </h3>
        <h3> <button class="heroes" (click)="refreshData()">refresh data</button></h3>
        <ul class="heroes">
            <li *ngFor="let data of priceBandA">
                region: {{data.region}}, item: {{data.itemname}}
                <ul class="heroes">
                <li id="quad" *ngFor="let md of data.pricedata">
                    price: {{md.price}}   
                    volume: {{md.volume}} 
                    range: {{md.range}}
                    station: {{md.location}} 
                </li> 
                
                </ul>
                <!--<canvas width="600" height="100" id= data.type.id_str>
                    
                </canvas>-->
            </li>
        </ul>
     </div>